.topbar {
    background: var(--gradient);
    height: var(--topbarHeight);

    .topbarContainer {
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;

        @media all {
            padding-top: 0;
            padding-bottom: 0;
        }

        p {
            font-size: 0.75rem;
            font-family: var(--heading);
            line-height: 133.33%;
            margin: 0;
            padding: 0;

            @media (width >=768px) {
                font-size: 0.875rem;
            }
        }
    }
}