.footer {
    border-top: 1px solid rgba(var(--darkRgb), 0.1);

    .footerContainer {
        @media all {
            padding-top: 2rem;
            padding-bottom: 2rem;
            justify-content: center;
            align-items: center;
            text-align: center;

        }
    }

    a {
        color: var(--primary);
    }

}