$border: 1px solid rgba(var(--darkRgb), 0.1);
$gapMobile: 2rem;
$gapDesktop: 3rem;
$ctaHeight: 25rem;

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--light);
    position: relative;
    margin-top: calc(#{$ctaHeight} / 2);
}

.footerCta {
    color: var(--light);
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    transform: translateY(-50%);
    height: $ctaHeight;

    .footerCtaContainer {
        max-width: 90%;
        width: 100%;
        overflow: hidden;
        position: relative;

        @media (width >=768px) {
            padding-right: 3rem;
            padding-left: 3rem;
            margin: 0 auto;
        }

        @media (width >=1200px) {
            max-width: 100%;
        }

        @media (width >=1920px) {
            max-width: 1512px;
        }
    }

    .heading {
        position: relative;
    }

    .footerCtaDecoration {
        position: absolute;
        top: -1rem;
        right: 0;
        width: 3rem;
        height: 3rem;

        @media (width >=768px) {
            top: -1.5rem;
            right: -3rem;
            width: 3rem;
            height: 3rem;
        }

        @media (width >=1200px) {
            top: -2.5rem;
            right: -5rem;
            width: 5rem;
            height: 5rem;
        }

    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        background: var(--gradientReversed);
        border-radius: 50%;

        @media (width >=768px) {
            width: 4rem;
            height: 4rem;
        }

        svg {
            width: 50%;
            height: 50%;
        }
    }
}

.footerMainContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: $gapMobile;
    margin-top: calc(#{$ctaHeight} / 2);

    @media (width >=1200px) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
        padding-bottom: $gapDesktop;

        >div {
            flex-basis: calc(25% - 1rem);
        }
    }

    @media (width >=1512px) {
        gap: 3rem;

        >div {
            flex-basis: calc(25% - 1.5rem);
        }
    }

    .footerCol {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;

        @media (width < 1200px) {
            width: 100%;
        }

        @media (width >=1200px) {
            padding-right: 2rem;
            gap: 1.5rem;
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 1px;
            background: rgba(var(--lightRgb), 0.1);

            @media (width >=1200px) {
                content: "";
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0.875rem;

            li {
                opacity: 0.875;
                transition: var(--ease);

                &:hover {
                    opacity: 1;
                    color: var(--primary);
                }

                &.current-menu-item {
                    opacity: 1;
                    font-weight: 700;
                    color: var(--primary);
                }
            }
        }

        p {
            display: none;
        }
    }

    // .formContainer {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 1rem;
    //     font-family: var(--text);

    //     .formItem {
    //         display: flex;
    //         position: relative;
    //         color: var(--light);
    //         height: 3rem;

    //         svg {
    //             width: 0.875rem;
    //             height: 0.875rem;
    //             position: absolute;
    //             left: 0.66rem;
    //             transform: translateY(calc(100% + 0.125rem));
    //         }

    //         input {
    //             display: flex;
    //             text-align: left;
    //             background: rgba(var(--lightRgb), 0.1);
    //             border: $border;
    //             border-radius: 0.25rem;
    //             text-indent: 1.125rem;
    //             width: 100%;
    //             height: 100%;
    //             padding: 0 1rem;
    //             color: inherit;
    //             transition: var(--ease);

    //             &::placeholder {
    //                 color: var(--light);
    //                 opacity: 0.7;
    //             }

    //             &:focus,
    //             &:active {
    //                 border-color: var(--primary);
    //             }
    //         }
    //     }
    // }

    .btn .elementor-button {
        width: 100%;
        min-width: 100%;
    }

    .formSubmit {
        background: transparent;
        border: none;
        font-family: inherit;
        font-weight: 700;
        width: 100%;
        min-width: 100%;
        cursor: pointer;
    }
}

.footerMid {

    .footerBorder {
        width: 100%;
        padding-top: $gapMobile;
        padding-bottom: $gapMobile;
        border-top: $border;
        border-bottom: $border;
    }

    .footerMidContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (width >=1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            img {
                width: 187.5px;
                height: 80px;
            }
        }
    }

    .socialIcons {
        .socialIcon {
            width: 2.5rem;
            height: 2.5rem;

            @media (width >=1200px) {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

.copyright {
    .copyrightContainer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        max-width: 1512px;
        font-size: .875rem;
        line-height: 150%;
        color: var(--dark);

        @media all {
            padding-top: $gapMobile;
            padding-bottom: $gapMobile;
        }

        @media (width >=1200px) {
            justify-content: space-between;
        }

        p {
            margin: 0;
            padding: 0;
            font-size: inherit;
            line-height: inherit;
        }

        ul {
            display: flex;
            flex-direction: row wrap;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0.875rem;

            li {
                opacity: 0.875;
                transition: var(--ease);

                &:hover {
                    opacity: 1;
                    color: var(--primary);
                }

                &.current-menu-item {
                    opacity: 1;
                    font-weight: 700;
                    color: var(--primary);
                }
            }
        }
    }

    .copyrightText {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}