.footerContactItems {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .footerContact {
        display: flex;
        gap: 0.875rem;
        font-weight: 700;

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1rem;
            height: 1rem;

            svg {
                fill: var(--dark);
                width: 100%;
                height: 100%;
            }
        }

        &.rounded {
            .icon {
                background: var(--dark);
                width: 2rem;
                height: 2rem;
                border-radius: 50%;

                svg {
                    fill: var(--primary);
                    width: 50%;
                    height: 50%;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                font-weight: 500;
            }
        }
    }
}