html,
body,
* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;

    &.noScroll {
        overflow-y: hidden;
    }
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-size: 1rem;
    line-height: 1;
    font-family: var(--font-geist-sans);
    margin: 0;
    padding: 0;
    color: var(--dark);
    background: var(--lightAlt);
    letter-spacing: -0.0125rem;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

*,
*:hover,
*:focus {
    outline: 0;
}