// Backgrounds
.bgPrimary {
    background-color: var(--primary);
}

.bgLight {
    background-color: var(--light);
}

.bgLightAlt {
    background-color: var(--lightAlt);
}

.bgDark {
    background-color: var(--dark);
}

.bgGradient {
    background: var(--gradient);
}

.bgGradientReversed {
    background: var(--gradientReversed);
}