/*
* =============================================
* Hidden classes
* ============================================= 
*/
.hidden {
    display: none !important;
}

.hidden-s {
    @media (width <1200px) {
        display: none !important;
    }
}

.hidden-l {
    @media (width >=1200px) {
        display: none !important;
    }
}

.hidden-xl {
    @media (width >=1400px) {
        display: none !important;
    }
}

/*
* =============================================
* Rows, Banners & Wrappers
* ============================================= 
*/

.elementor {
    width: 100%;
    margin: 0 auto;
}

// Row
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: max-content;
    position: relative;
    overflow: hidden;

    @media (width >=768px) {
        gap: 2rem;
    }
}

// Container
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 2rem;

    @media (width >=768px) {
        gap: 3rem;
        padding: 3rem;
        max-width: 85%;
    }

    @media (width >=1200px) {
        padding: 6rem 4rem;
        max-width: 100%;
    }

    @media (width >=1512px) {
        max-width: var(--layoutMaxWidth);
        padding: 6rem 5rem;
    }

    // Centered
    &.centered {
        @media all {
            justify-content: center;
            align-items: center;

            * {
                text-align: center;
            }

            .eyebrow {
                justify-content: center;
                text-align: center;
                margin: 0 auto;
            }

            .heading {
                align-items: center;
                text-align: center;


                @media (width >=1200px) {

                    h1,
                    h2 {
                        max-width: 50rem;
                    }

                    p {
                        max-width: 45rem;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
            }

            .buttons {
                justify-content: center;
                margin: 0 auto;
            }
        }
    }

    // Dual Columns
    &.dualCols {
        @media (width >=1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 3rem;

            >div {
                flex-basis: calc(50% - 1.5rem);
            }

            @media (width >=1512px) {
                gap: 5rem;

                >div {
                    flex-basis: calc(50% - 2.5rem);
                }
            }

            &.hasMultiCols {
                @media (width >=1200px) {
                    gap: 3rem;

                    >div {
                        flex: 1 0 calc(50% - 1.5rem);
                    }
                }
            }
        }

        .contentCol {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            gap: 1rem;
        }

        &.rowReverse {
            flex-direction: column;

            @media (width >=1200px) {
                flex-direction: row-reverse;
            }
        }
    }

    &.triCols {
        @media (width >=1200px) {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            gap: 1rem !important;

            >div {
                flex: 0 0 calc(33.33% - 1rem);
            }
        }
    }

    // Remove All Padding
    &.noPadding {
        @media all {
            padding: 0;
        }
    }

    // Remove padding per Class
    &.noPaddingTop {
        @media all {
            padding-top: 0;
        }
    }

    &.noPaddingBottom {
        @media all {
            padding-bottom: 0;
        }
    }

    @media (width >=1200px) {
        &.noPaddingRight {
            padding-right: 0;
        }

        &.noPaddingLeft {
            padding-left: 0;
        }
    }

    // Remove max-width
    &.noMaxWidth {
        @media all {
            max-width: unset;
        }
    }

    // Full Width Slider
    &.overflowSlider {
        @media all {
            align-items: unset;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
            max-width: 100%;
        }
    }

    &.spaceBetween {
        @media (width >=1200px) {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;

            .heading {
                flex: 1 0 auto;

                h2,
                h3 {
                    max-width: 20ch;
                }
            }

            .buttons {
                flex: 0 1 auto;
                width: max-content;
                margin-left: auto;
                min-width: max-content;
            }
        }
    }
}

/*
* =============================================
* Headings
* ============================================= 
*/
.heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 0;
    margin: 0;

    &.mobileCentered {
        @media (width <768px) {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    @media (width >=768px) and (width < 1200px) {
        align-items: center;
        text-align: center;
    }

    @media (width >=1200px) {
        text-align: left;
        align-items: flex-start;
    }

    h2 {
        @media (width >=768px) and (width < 1200px) {
            margin: auto;
            text-align: center;
            max-width: 100%;
        }
    }

    &.hasMaxWidth {
        @media all {
            max-width: 55ch;
            margin: 0 auto;
        }
    }
}

/*
* =============================================
* Cols
* ============================================= 
*/

.col {
    gap: 2rem !important;
}

/*
* =============================================
* Eyebrows
* ============================================= 
*/

.eyebrow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.33rem;
    color: var(--primary);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
    text-transform: uppercase;

    @media (width >=768px) {
        justify-content: center;
        gap: 0.5rem;
        font-size: 0.875rem;
        letter-spacing: 0.1rem;
    }

    @media (width >=1200px) {
        justify-content: flex-start;
    }

    &.dark {
        color: var(--dark);
    }

    &.filled {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: max-content;
        border-radius: 1rem;
        background: var(--light);
        color: var(--primary);
        padding: 0.33rem 0.66rem;

        @media (width >=768px) {
            padding: 0.5rem 1rem;
        }

        &.primary {
            background: var(--primary);
            color: var(--light);
        }

        &.secondary {
            background: var(--secondary);
        }
    }

    &.light {
        color: var(--light);
    }
}

/*
* =============================================
* Image Fill
* ============================================= 
*/

.fill,
.fill .elementor-widget-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: var(--borderRadius);
    width: 100%;
    height: 100%;

    @media (width <=767px) {
        max-height: 15rem;
    }

    @media (width >=768px) and (width <1200px) {
        max-height: 25rem;
    }

    img {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*
* =============================================
* Has Classes
* ============================================= 
*/

.hasRadius {
    border-radius: var(--borderRadius);
}

.hasShadow {
    box-shadow: var(--boxShadow);
}