@mixin submenu() {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 1.5rem !important;

    @media (width >=1200px) {
        position: absolute;
        z-index: 99999;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s ease-in-out;
        gap: 1.5rem;
        min-width: max-content;
        padding: 1.25rem;
        border-radius: 0.5rem;
        background: var(--darkAlt);
    }
}

@mixin caret() {
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    @media (width >=1200px) {
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
    }

    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.5rem;
        vertical-align: middle;
        border-top: 0.35rem solid var(--primary);
        border-right: 0.35rem solid transparent;
        border-left: 0.35rem solid transparent;
        position: absolute;
        top: 0.5rem;
        right: 0;
        bottom: 0;
        margin: 0 auto;

        @media (width >=1200px) {
            position: unset;
        }
    }
}

@mixin button() {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.33rem;
    width: auto;
    padding: 0.75rem 0.875rem;
    border: 1px solid transparent;
    border-radius: var(--btnRadius);
    font-family: var(--heading);
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 600;
    color: var(--light);
    overflow: hidden;
    transition: var(--ease);
    cursor: pointer;

    @media (width >=768px) {
        flex: 0 1 auto;
        font-size: 0.875rem;
    }

    svg {
        transition: var(--ease);
    }
}