@mixin border() {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid rgba(var(--darkRgb), 0.1);
}

.dialog {
    width: 100%;
    max-width: 90%;
    height: max-content;
    max-height: 90%;
    background: var(--light);
    box-shadow: 0 4px 40px 0 rgba(var(--darkRgb), 0.1);
    border-radius: var(--borderRadius);
    border: 2px solid rgba(var(--darkRgb), 0.1);
    overflow-y: auto;

    @media (width >=768px) {
        max-width: 35rem;
    }

    @media (width >=1200px) {
        max-width: 45rem;
    }

    &::backdrop {
        background: rgba(var(--darkRgb), 0.5);
        backdrop-filter: blur(0.25rem);
    }
}

.dialogClose {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--dark);

    @media (width >=768px) {
        width: 2.5rem;
        height: 2.5rem;
    }

    @media (width >=1200px) {
        width: 3rem;
        height: 3rem;
    }
}

.dialogContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;

    @media (width >=768px) {
        padding: 1.5rem;
    }

    @media (width >=1200px) {
        padding: 2rem;
    }
}

.dialogHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & {
        @include border();
    }
}

.dialogContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & {
        @include border();
    }
}