.productGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 100%;

    @media (width >=576px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width >=1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (width >=1600px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (width >=2000px) {
        grid-template-columns: repeat(5, 1fr);
    }
}