@use "../../init/mixins" as *;

/*
* =============================================
* Buttons
* ============================================= 
*/

.buttons {
    display: flex;
    flex-flow: row wrap !important;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    width: 100%;

    &.centered {
        justify-content: center;
    }

    @media (width >=768px) {
        justify-content: center;
        gap: 1rem;
    }

    @media (width >=1200px) {
        justify-content: flex-start;

        &.end {
            justify-content: flex-end;
        }
    }
}

.btn {
    @include button();

    &.primary {
        background: var(--primary);
        border-color: var(--primary);
        color: var(--light);

        svg {
            fill: var(--light);
        }
    }

    &.transparent {
        background: transparent;
        color: var(--light);
        border-color: var(--light);

        &:hover {
            background: var(--light);
            color: var(--dark);
        }

        &.dark {
            background: transparent;
            color: var(--dark);
            border-color: var(--dark);

            svg {
                fill: var(--primary);
            }
        }

        &.primary {
            background: transparent;
            color: var(--primary);
            border-color: var(--primary);

            svg {
                fill: var(--primary);
            }

            &:hover {
                background: rgba(var(--primaryRgb), 0.1);
            }
        }
    }
}