.contactForm {

    * {
        font-family: var(--text);
        color: var(--light);
    }

    .cool-form-text {
        .mdc-notched-outline span {
            transition: all 0.15s ease-in-out;
        }

        &:hover {
            .mdc-notched-outline {
                span {
                    border-color: var(--primary) !important;
                }
            }
        }

        &.mdc-text-field--focused {
            .mdc-notched-outline {
                span {
                    border-color: var(--primary) !important;
                }
            }
        }
    }

    .cool-form__field {
        transition: var(--ease);
        caret-color: initial !important;
        color: var(--light);

        &::placeholder {
            opacity: 0 !important;
        }
    }

    .cool-form__button[type=submit] {
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        width: 100%;
        min-width: 100%;
        margin: 0 auto;
        padding: 0.75rem 0.875rem !important;
        border: 1px solid var(--primary);
        border-radius: var(--btnRadius) !important;
        background: var(--primary);
        font-family: var(--heading);
        font-size: 0.75rem;
        line-height: 1;
        font-weight: 600;
        color: var(--dark);
        overflow: hidden;
        transition: var(--ease);
        cursor: pointer;

        @media (width >=768px) {
            flex: 0 0 auto;
            gap: 0.5rem;
            font-size: 0.875rem;
            padding: 0.875rem 1rem !important;
        }

        @media (width >=1200px) {
            font-size: 1rem;
            padding: 1rem 1.5rem !important;
        }

        .cool-form-button-icon {
            display: none;
        }

        &:hover {
            filter: brightness(1.05);
            scale: 1.02;
        }
    }

    &.formHasDarkButton {
        .cool-form__button[type=submit] {
            background: var(--dark);
            color: var(--light);

            &:hover {
                filter: brightness(0.95);
            }
        }
    }

    .is-field-type-acceptance {
        .cool-form__field-label {
            display: none;
        }
    }

    .elementor-message-success {
        color: var(--dark);
        font-weight: 700;
        padding: 1rem;
        border: 1px dashed var(--primary);
        background: rgba(var(--primaryRgb), 0.1);
        border-radius: var(--btnRadius);

        &::before {
            color: var(--primary);
        }
    }
}