.splide {

    .splide__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin: 3rem auto;
        position: unset;

        button {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 5rem;
            background: transparent;
            border: 1px solid var(--primary);
            opacity: 1;
            transition: var(--ease);

            @media (width >=1200px) {
                width: 1.75rem;
                height: 1.75rem;
            }

            &:hover {
                background: var(--primary);
                border-color: var(--primary);
            }

            &.is-active {
                transform: unset;
                width: 2.5rem;
                background: var(--primary);

                @media (width >=1200px) {
                    width: 3.5rem;
                }
            }
        }
    }

    &.paginationFlexStart {
        .splide__pagination {
            justify-content: flex-start;
            margin-left: 0;
            padding: 0;
        }
    }

    &.hasArrows {
        @media (width >=1200px) {
            padding: 0 5%;
        }

        .splide__arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            background: var(--light);
            border-radius: 0.5rem;
            border: 1px solid rgba(var(--darkRgb), 0.1);
            opacity: 1 !important;
            transition: var(--ease);

            &:hover {
                background: var(--primary);
                border-color: var(--primary);
            }

            svg {
                display: none;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                margin: auto;
                width: 50%;
                height: 50%;
                background: url("/wp-content/themes/vite/static/icons/arrow-right.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &.splide__arrow--prev {
                left: 2.5%;
                transform: scale(-1) translateY(50%) translateX(50%);
            }

            &.splide__arrow--next {
                right: 2.5%;
                transform: translateY(-50%) translateX(50%);
            }
        }
    }
}