.socialIcons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: max-content;

    .socialIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        background: var(--primary);
        color: var(--dark);
        border-radius: 50%;
        transition: var(--ease);

        svg {
            width: 50%;
            height: 50%;
        }

        &:hover {
            scale: 1.1;
            background: var(--primary) !important;
        }
    }

    &.rounded {
        .socialIcon {
            border-radius: 50%;
        }
    }
}